*{
    box-sizing: border-box;
}
header{
    position: relative;
    background-color: #FFFCF5;
    height: 400px;
    width: 100%;
}

.header-left{
    float: left;
    position: relative;
    background-color: #FFFCF5;
    width: 50%;
    height: 400px;
    border-top-right-radius: 200px;
}
.header-right{
    float: left;
    position: relative;
    background-color: #FEF8E0;
    width: 50%;
    height: 400px;
    border-bottom-left-radius: 200px;
}

.header-behind-top{
    background-color: #FEF8E0;
    width: 50%;
    height: 400px;
}
.header-lines{
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 40%;
}
hr{
    border-top: 3px solid #7E6AAF;
    margin-top: 15px; 
}
h1{
    font-size: 75px;
    padding-bottom: 10px;
}
.header-text{
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: 1;
}

.circle1{
    background-color: rgba(255, 183, 0, 0.509);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: -150px;
    right: -50px;
    z-index: -1;
}
.circle2{
    background-color: rgba(255, 183, 0, 0.509);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 70px;
    right: -60px;
}
.circle3{
    background-color: rgba(255, 183, 0, 0.315);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 50px;
}

body{
    background-color: #FFFCF5;
}

.maincontainer{
    padding: 30px;
    margin: auto;
    display: flex;
    width: 70%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.smallcard-container{
    width: 100%;
    height: 50%;
    display: flex;
}

.smallcard{
    background-color: #FFF9E3;
    box-shadow: 10px 10px 10px -14px rgba(0,0,0,0.75);
    width: 25%;
    height: 100%;
    margin: 5px;
}
.smallcard-top, .bigcard-top{
    border-top-left-radius: 4px; 
    border-top-right-radius: 4px; 
    background-color: #E6E6E6;
    width: 100%;
    height: 40%;
    position: relative;
}

.smallcard-main{
    height: 45%;
    padding: 5px;
}
h3{
    font-size: 15px;
}
h2{
    font-size: 25px;
    padding-bottom: 8px;
    font-weight: bold;
}
.smallcard-bottom, .bigcard-bottom{
    border-bottom-left-radius: 4px; 
    border-bottom-right-radius: 4px; 
}
i{
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.smallcard-bottom p{
    padding-top: 5px;
}
.bigcard-container{
    width: 100%;
    height: 50%;
    display: flex;
}
.bigcard{
    background-color: #FFF9E3;
    box-shadow: 10px 10px 10px -14px rgba(0,0,0,0.75);
    width: 50%;
    height: calc(100%-5px);
    margin: 5px;
    margin-top: 20px;
}
.bigcard-bottom p{
    color: blue;
    display: inline;
    padding: 5px;
}
.bigcard-main{
    height: 45%;
    padding: 5px;
    position: relative;
}
.arrow{
    position: absolute;
    top: 0;
    right: 0;
}
.mood{
    font-size: 40px;
}
h4{
    padding-left: 50px;
}
.cake{
    font-size: 70px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -35px;
    margin-right: -35px;
    opacity: 0.3;
}


