*{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    box-shadow: 11px 11px 24px 0px rgba(0,0,0,0.75);
}
header{
    background-color: lightgray;
    padding: 6px;
}
h2{
    padding: 15px;
    margin: 0;
}
.main{
    position: relative;
}
.maintop{
    background-color: rgb(119, 119, 252);
    height: 400px;
}
.mainbottom{
    background-color: lightgray;
    height: 300px;
}
article{
    display: inline-block;
    background-color: white;
    border-radius: 3px;
    box-shadow: 11px 11px 24px 0px rgba(0,0,0,0.75);
    width: 700px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -350px;
    padding: 0px 30px;
    text-align: justify;
}

footer{
    padding: 20px;
    background-color: rgb(52, 51, 51)
}
footer p{
    color: lightgray;
    padding: 15px;
    margin: 0;
}